body {
    background: linear-gradient(to bottom left, #2193b0, #6dd5ed);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-text);
}

:root {
    --primary-text: #f5f5f5;
}

#show-password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    transition: background-color 0.2s, border-color 0.2s;
    cursor: pointer;
    margin-top: .5em;
    margin-right: .5em;
    transform: translateY(5px);
}

#show-password:checked {
    background-color: #f32121;
    border-color: #f36060;
    border: 1px solid #000;
}

#show-password:focus {
    box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.3);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h1 {
    pointer-events: none;
}

.container {
    width: 50%;
    height: auto;
    padding-bottom: 1em;
}

.blogContainer {
    width: 90%;
    height: auto;
    align-self: center;
}

.blogText {
    font-size: 1.2em;
    white-space: pre-wrap;
    overflow: hidden;
    height: fit-content;
    text-align: left;
}

.card-title,
.card-text,
.blogText,
.blogTitle {
    pointer-events: none;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 6em;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 2em;
}

.navbar-nav,
.login {
    position: absolute;
    right: 1em;
}

.navbar a,
#blogTitleHelp {
    color: var(--primary-text);
}

#blogTitleHelp {
    pointer-events: none;
}

.bi.bi-file-post {
    position: absolute;
    left: 1em;
    color: var(--primary-text);
    font-size: 4em;
}

.jumbotron {
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

.landingFooter,
.createFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.feature-card {
    text-align: center;
    height: 14em;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #f5f5f5;
    pointer-events: none;
}

.feature-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.loginContainer {
    margin-top: 10em;
    width: 25%;
}

.editPage {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 68vh;
    margin: 0 1em;
}

.editForm,
.editPreview {
    flex: 1;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.editPreview {
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    -webkit-backdrop-filter: blur(4px);
    border: 5px solid rgba(255, 255, 255, 0.50);
    padding: 1em;
    height: 100%;
    text-align: center;
}

footer {
    height: 4em;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #f5f5f5;
    font-size: 1.2em;
    pointer-events: none;
    position: relative;
    bottom: 0;
    width: 100%;
}

.container p {
    margin-bottom: 0;
}

.blogContainer {
    min-height: 75.5vh;
}