html, body {
    padding: 0;
    margin: 0;
}

.main_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_container {
    width: 50%;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    background-color: #3e619b;
}

.form_container h1 {
    color: white;
}

.form {
    width: 80%;
    background-color: #75a4ef;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field_container {
    background-color: whitesmoke;
    border: none;
    display: flex;
    border-radius: 3px;
    width: 60%;
    margin: 5px 0;
}

.field_container img {
    width: 40px;
    height: 40px;
}

.field_container input {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 15px;
}

.button_container {
    background-color: whitesmoke;
    border: none;
    display: flex;
    border-radius: 3px;
    width: 25%;
    margin: 5px 0;
}

.button_container input {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 8px;
    font-weight: 700;
    font-size: 15px;
}

#username:not(:placeholder-shown):invalid {
    box-shadow: 1px 1px 10px red;
}

/*input[type="date"]:before {*/
/*    content: attr(placeholder) !important;*/
/*    color: #aaa;*/
/*    margin-right: 0.5em;*/
/*}*/

/*input[type="date"]:focus:before,*/
/*input[type="date"]:valid:before {*/
/*    content: "";*/
/*}*/

.danger {
    box-shadow: 1px 1px 10px red;
    padding: 10px;
    margin: 10px 5px;
}

#feedback {
    position: absolute;
    width: 20%;
    right: 10px;
    top: 0;
    float: right;
}

