<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Parisienne&family=Red+Hat+Mono:wght@300&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/styles.css"
      th:href="@{/css/styles.css}"
    />

    <style>
      .card-1 {
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
      }

      .form-order-submitted {
        width: 100%;
        max-width: 600px;
        padding: 40px;
        margin: auto;
        z-index: 2;
      }

      .btn.btn-primary:active:hover,
      .btn.btn-primary:hover,
      .btn.btn-primary:focus {
        border-color: #24798a;
        background-color: #24798a;
      }
    </style>
    <title>Cater Mate-500</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="order.html" th:href="@{/order}"
            >Order <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="users.html" th:href="@{/users}"
            >Users</a
          >
          <a class="nav-item nav-link" href="menu.html" th:href="@{/menu}"
            >Menu</a
          >
          <a
            class="nav-item nav-link"
            href="view_orders.html"
            th:href="@{/viewOrders}"
            >View Orders</a
          >
<!--          <a class="nav-item nav-link" href="#">Kitchen</a>-->
          <a class="nav-item nav-link" href="login.html" th:href="@{/logout}"
            >Logout</a
          >
        </div>
      </div>
    </nav>

    <!-- End navbar -->

    <h1 class="display-2 pt-5 mb-5">Cater Mate</h1>
    <div class="card card-1 p-5">
      <h2 class="display-5 color-alert">500 - SERVER ERROR</h2>
      <h3 class="mt-3 text-center">Oops! Something went wrong.</h3>
    </div>
  </body>
</html>
