.animated-box {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    animation-name: flash;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}