.animated-box {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: relative;
    animation-name: identifier;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes identifier {
    0% { top: 0; }
    50% { top: 300px; left: 20px; }
    50% { top: 100px !important; }
    100% { top: 0; }
}