.box {
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 20px;
    left: 0px;
    top: 0px;
    position: absolute;
    transition-property: width, height, background-color, font-size, left, top, transform, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.box:hover {
    transform: rotate(270deg);
    width: 50px;
    height: 50px;
    background-color: blue;
    color: yellow;
    font-size: 18px;
    left: 25px;
    top: 10px;
    position: absolute;
    transition-property: width, height, background-color, font-size, left, top, transform, color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}